@page "/"
@inject NavigationManager NavigationManager
@inject SWEPP.Services.CustomerService CustomerService

@if (CustomerService.LoggedInCustomer == null)
{
    <h3>Welcome to SWEPP Pizza Ordering System</h3>
    <button @onclick="NavigateToLogin">Log In</button>
    <button @onclick="NavigateToSignUp">Sign Up</button>
}
else
{
 
}

@code {
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void NavigateToSignUp()
    {
        NavigationManager.NavigateTo("/sign-up");
    }
}