<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f8f9fa;">
    <div class="container-fluid">
        <div class="navbar-nav">
            <NavLink class="nav-link" href="/" activeClass="active">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/menu" activeClass="active">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Menu
            </NavLink>
            <NavLink class="nav-link" href="/cart" activeClass="active">
                <span class="oi oi-cart" aria-hidden="true"></span> Cart
            </NavLink>
            <NavLink class="nav-link" href="/kitchen-slip" activeClass="active">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kitchen Slip
            </NavLink>
            <NavLink class="nav-link" href="/sales-summary" activeClass="active">
                <span class="oi oi-chart" aria-hidden="true"></span> Sales Summary
            </NavLink>
        </div>
    </div>
</nav>